<h1>PAGE ONE</h1>;

<st-code-preview [title]="'Radio input 1'"
                 [src]="'app/page-one'"
                 [componentName]="'page-one'"
                 [id]="'example-1'"
                 [menuItem]="true">
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</st-code-preview>


<st-code-preview [title]="'Radio input 2'"
                 [src]="'app/page-one'"
                 [componentName]="'page-one'"
                 [id]="'example-2'"
                 [menuItem]="true">
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</st-code-preview>



<st-code-preview [title]="'Radio input 3'"
                 [src]="'app/page-one'"
                 [componentName]="'page-one'"
                 [id]="'example-3'"
                 [menuItem]="true">
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</st-code-preview>
