.flex {
    display: flex;
    .menu {
        flex: 1;
    }
    .preview {
        flex: 4;
    }
}
.st-code-preview {
    display: block;
    margin-bottom: 10rem;
}

.menu {
    min-width: 10rem;
    > div {
      position: fixed;
      margin: 1rem 0;
    }
}
