<st-code-preview [title]="'Sample buttons'" [src]="'app'" [componentName]="'app'" [config]="{fileExtensions:['html']}"
                 [id]="'example-1'">
  <h1> Some example buttons</h1>
  <button>test</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>

</st-code-preview>
<st-code-preview [title]="'Sample buttons'" [src]="'app'" [componentName]="'app'" [id]="'example-2'">
  <h1> Some example buttons</h1>
  <button>test</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>
</st-code-preview>
<st-code-preview [src]="'app'" [componentName]="'app'" [id]="'example-3'">
  <h1> Some example buttons</h1>
  <button>test</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>
  <button class="example">test1</button>
  <button class="example">test2</button>
  <button class="example" *ngIf="false">test3</button>
</st-code-preview>
